button {
  margin-top: 8px;
  margin-left: 4px;
  margin-bottom: 7px;
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  border-radius: 8px;
}

button:hover {
  background-color: #c5c5c5;
  color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  cursor: pointer;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  transform: translateY(-4px);
  box-shadow: 0 0px;
  color: #666666;
  margin-top: 12px;
  margin-bottom: 3px;
}

.Inp {
  text-align: left;
  display: grid;
  grid-template-columns: max-content;
  padding: 10px;
  background-color: rgb(218, 210, 210);
  border-radius: 8px;
}

.td {
  justify-content: space-between;
}
